<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDecryptageService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60430/FrontService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IDecryptageService"
          contract="FrontWCFService.IDecryptageService" name="BasicHttpBinding_IDecryptageService" />
    </client>
  </system.serviceModel>
</configuration>